.main {
  width: 15vw;
  height: auto;
  margin: 2vw;
  border-radius: 4px;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.teal {
  border: 6px solid Teal;
}

.teal-bottom {
  border-bottom: 6px solid Teal;
}

.red {
  border: 6px solid #EF476F;
}

.red-bottom {
  border-bottom: 6px solid #EF476F;
}

.h2 {
  font-size: 1.3vw;
  margin-bottom: -0.1vw;
  padding-bottom: 0.75vw;

  min-width: 100%;
}

.p {
  font-size: 1vw;
  padding-bottom: 0.8vw;
  margin-bottom: -0.1vw;

  min-width: 100%;
}
